<template>
    <div v-for="post in posts">
        <a :href="post.href">
            <h3>{{ post.title }}</h3>
        </a>
        <div>
            <i>{{ post.date.string }}</i>
        </div>
        <p>{{ post.excerpt }}</p>
    </div>
</template>

<script setup>
//https://github.com/vuejs/blog/blob/8d4a8e9a144cb610c7e0e647654569c60c684960/.vitepress/theme/posts.data.ts
//https://github.com/vuejs/docs/blob/8c78cbf30db845eb8d951c91c4d526ff2d833206/src/api/api.data.ts
const props = defineProps(["posts"]);
</script>