<template>
    <div class="dice-container">
        <div class="dice-options">
            <button v-for="diceFaces in diceOptions" @click="onRollDice(diceFaces)">{{ diceFaces }}</button>
        </div>
        <div class="total">Total: {{ total || ''}}</div>
        <div class="history">
            <div class="history-item" v-for="(item,index) in rollHistory.slice().reverse()"
                @pointerdown="onClickHistoryItem" :data-dice-roll="item.roll">
                <input type="checkbox" />
                <span>d{{ item.faces }}</span><span>{{ item.roll }}</span>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const diceOptions = [
    2, 4, 6, 8, 10, 12, 20, 100
];

const rollHistory = ref([]);
const total = ref(0);

function onRollDice(faces: number) {
    const roll = Math.floor(Math.random() * faces + 1);
    rollHistory.value.push(
        {
            faces,
            roll
        }
    );
    document.querySelectorAll(".history-item.selected").forEach(node=>node.classList.remove("selected"));
    total.value = 0;
}

function onClickHistoryItem(event) {
    event.target.classList.toggle("selected");
    total.value = Array.from(document.querySelectorAll(".history-item.selected"))
        .reduce((prevValue, nextNode) => {
            return prevValue + parseInt(nextNode.dataset.diceRoll)
        }, 0);
}
</script>

<style scoped>
.dice-container {
    display: flex;
    flex-direction: column;
}

.dice-options {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

@media (min-width: 1200px) {
    .dice-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

button {
    font-size: 23px;
    width: 50px;
    height: 48px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px var(--vp-c-text-1);
}

button:hover {
    background-color: var(--vp-c-text-1);
    color: white;
}

button:active {
    background-color: var(--vp-c-text-2);
    color: white;
}

.total {
    margin: 1rem 0;
}

.history {
    max-height: 40vh;
    overflow-y: scroll;
    background: #FFFFFF45;
    user-select: none;
}

.history-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 32px 10px 18px;
    border-bottom: 1px solid var(--vp-c-divider-light);
}

.history-item:first-child {
    font-weight: bold;
    border-bottom: 1px solid var(--vp-c-divider-dark-1);
}

.history-item input {
    display: none;
}

.history-item.selected {
    background-color: #fffcfb;
}
</style>
