<template>
    <div class="background-image">
        <BaseLayout :class="page.frontmatter.pageClass">
            <template #doc-before>
                <div v-if="showTitle" class="vp-doc">
                    <h1>{{ page.title }}</h1>
                </div>
                <p v-if="date"><i>{{ date }}</i></p>
            </template>
            <template #doc-footer-before>
                <VPDocFooter />
            </template>
        </BaseLayout>
    </div>
</template>

<script setup>
import DefaultTheme from 'vitepress/theme';
import VPDocFooter from './VPDocFooter.vue';
import { computed } from 'vue';
import { useData } from 'vitepress'
const BaseLayout = DefaultTheme.Layout;

const { page } = useData();
const showTitle = computed(() => {
    return page.value.frontmatter?.showTitle !== false;
});
const date = computed(() => {
    return page.value.frontmatter?.date &&
        new Date(page.value.frontmatter.date)
            .toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            });
});

const imageOptions = [
    'https://www.wyliebeckert.com/portfolio/WylieBeckert-cauldronofeverything-1200.jpg',
    'https://www.wyliebeckert.com/portfolio/WylieBeckert-soulshatter-1200.jpg',
    'https://www.wyliebeckert.com/portfolio/WylieBeckert-faeofwishes-1200.jpg',
    'https://www.wyliebeckert.com/portfolio/WylieBeckert-thwartthegrave-1200.jpg',
    'https://www.wyliebeckert.com/portfolio/WylieBeckert-babayaga-600.jpg',
    'https://www.wyliebeckert.com/portfolio/WylieBeckert-finishingblow-1080.jpg',
    "https://www.wyliebeckert.com/portfolio/WylieBeckert-vesuvan-1200.jpg",
    "https://www.wyliebeckert.com/portfolio/WylieBeckert-finishingblow-1080.jpg"
];

const imageSelect = imageOptions[
    Math.floor(Math.random() * (imageOptions.length - 1))
];

const backgroundUrl = `url('${imageSelect}')`;

</script>

<style scoped>
.background-image {
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-image: v-bind(backgroundUrl);
    position: relative;
}

.background-image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: var(--bg-image);
    background-size: var(--bg-size);
    mask-image: linear-gradient(to top, var(--c-bg-translucent-70), var(--c-bg-translucent-90), white 100vh);
}

/* medium+ */
@media (min-width: 960px) {
    .background-image {
        background-size: cover;
    }
}
</style>