:root {
    --vp-c-brand: #3f2d0e;
    --vp-c-brand-light: #765800;
    --vp-c-brand-lighter: #765800;
    --vp-c-brand-dark: #231f20;
    --vp-c-brand-darker: #231f20;

    --c-bg-accent: #d2ccc2;
    --c-bg-opaque: #f7f1e6;
    --c-bg-translucent-70: #ffffffb0;
    --c-bg-translucent-90: #fffffff0;

    --bg-image: radial-gradient(var(--c-bg-accent) 0.6px, var(--c-bg-opaque) 0.6px);
    --bg-size: 12px 12px;
}

a {
    text-decoration: underline;
}

.vp-doc a,
header a,
a.VPButton {
    text-decoration: none;
}

.header-anchor {
    visibility: hidden;
}


#app header.VPNav.no-sidebar {
    border-bottom: 1px solid var(--vp-c-brand);
    position: relative;

    background-image: var(--bg-image);
    background-size: var(--bg-size);
}

#app footer.VPFooter {
    background: #00000000;
    padding: 20px;
}

h1 {
    margin: 1rem 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Cinzel Decorative', serif;
}

h1,
h2 {
    color: var(--vp-c-brand);
}

h3,
h4 {
    color: var(--vp-c-brand-light);
}

.vp-doc img {
    /* background-color: var(--c-bg-opaque); */

    margin: 3rem 0;
    border-radius: 3px;
    /* border: 1rem solid white; */

    background: url("/image-bg.png");
    background-size: 100% 100%;
    background-repeat: none;
}

.vp-doc blockquote {
    margin: 32px 0;
}

.vp-doc blockquote>p {
    margin: 16px 0;
    font-style: italic;
}

.Layout.center {
    text-align: center;
}

.vp-doc h1 {
    border-bottom: 3px solid var(--vp-c-brand);
}

.vp-doc h1::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    border-bottom: 3px groove var(--vp-c-brand-light);
}