<script setup lang="ts">
/*
https://github.com/vuejs/vitepress/blob/72e24b5548f57b18b1fb1ac1a366ffba9b24696f/src/client/theme-default/components/VPDocFooter.vue
https://github.com/vuejs/vitepress/blob/72e24b5548f57b18b1fb1ac1a366ffba9b24696f/src/client/theme-default/composables/prev-next.ts
*/
import { computed } from 'vue'
import { useData } from 'vitepress'
import { normalizeLink, isActive } from 'vitepress/dist/client/theme-default/support/utils.js'
import { useEditLink } from 'vitepress/dist/client/theme-default/composables/edit-link.js'
import VPIconEdit from 'vitepress/dist/client/theme-default/components/icons/VPIconEdit.vue'
import VPLink from 'vitepress/dist/client/theme-default/components/VPLink.vue'
import VPDocFooterLastUpdated from 'vitepress/dist/client/theme-default/components/VPDocFooterLastUpdated.vue'

import { data as posts } from './journal.data';

const { theme, page, frontmatter } = useData()

const editLink = useEditLink()
const control = computed(() => {
    const foundIndex = posts.findIndex((post) => {
        return isActive(page.value.relativePath, post.href);
    });

    if(foundIndex < 0) {
        return {};
    }

    //Prev and Next are reversed because the posts data is sorted new to old.
    const possiblePrev = posts[foundIndex + 1];
    const possibleNext = posts[foundIndex - 1];
    return {
        prev: possiblePrev ? { text: possiblePrev.title, link: possiblePrev.href } : null,
        next: possibleNext ? { text: possibleNext.title, link: possibleNext.href } : null
    }
})

const hasEditLink = computed(() => {
    return theme.value.editLink && frontmatter.value.editLink !== false
})
const hasLastUpdated = computed(() => {
    return page.value.lastUpdated && frontmatter.value.lastUpdated !== false
})
const showFooter = computed(() => {
    return hasEditLink.value || hasLastUpdated.value || control.value.prev || control.value.next
})
</script>

<template>
    <footer v-if="showFooter" class="VPDocFooter">
        <div v-if="hasEditLink || hasLastUpdated" class="edit-info">
            <div v-if="hasEditLink" class="edit-link">
                <VPLink class="edit-link-button" :href="editLink.url" :no-icon="true">
                    <VPIconEdit class="edit-link-icon" />
                    {{ editLink.text }}
                </VPLink>
            </div>

            <div v-if="hasLastUpdated" class="last-updated">
                <VPDocFooterLastUpdated />
            </div>
        </div>

        <div v-if="control.prev || control.next" class="prev-next">
            <div class="pager">
                <a v-if="control.prev" class="pager-link prev" :href="normalizeLink(control.prev.link)">
                    <span class="desc" v-html="theme.docFooter?.prev ?? 'Previous page'"></span>
                    <span class="title" v-html="control.prev.text"></span>
                </a>
            </div>
            <div class="pager" :class="{ 'has-prev': control.prev }">
                <a v-if="control.next" class="pager-link next" :href="normalizeLink(control.next.link)">
                    <span class="desc" v-html="theme.docFooter?.next ?? 'Next page'"></span>
                    <span class="title" v-html="control.next.text"></span>
                </a>
            </div>
        </div>
    </footer>
</template>

<style scoped>
.VPDocFooter {
    margin-top: 64px;
}

.edit-info {
    padding-bottom: 18px;
}

@media (min-width: 640px) {
    .edit-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 14px;
    }
}

.edit-link-button {
    display: flex;
    align-items: center;
    border: 0;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    color: var(--vp-c-brand);
    transition: color 0.25s;
}

.edit-link-button:hover {
    color: var(--vp-c-brand-dark);
}

.edit-link-icon {
    margin-right: 8px;
    width: 14px;
    height: 14px;
    fill: currentColor;
}

.prev-next {
    border-top: 1px solid var(--vp-c-divider-light);
    padding-top: 24px;
}

@media (min-width: 640px) {
    .prev-next {
        display: flex;
    }
}

.pager.has-prev {
    padding-top: 8px;
}

@media (min-width: 640px) {
    .pager {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 50%;
    }

    .pager.has-prev {
        padding-top: 0;
        padding-left: 16px;
    }
}

.pager-link {
    display: block;
    border: 1px solid var(--vp-c-divider-light);
    border-radius: 8px;
    padding: 11px 16px 13px;
    width: 100%;
    height: 100%;
    transition: border-color 0.25s;
}

.pager-link:hover {
    border-color: var(--vp-c-brand);
}

.pager-link:hover .title {
    color: var(--vp-c-brand-dark);
}

.pager-link.next {
    margin-left: auto;
    text-align: right;
}

.desc {
    display: block;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    color: var(--vp-c-text-2);
}

.title {
    display: block;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--vp-c-brand);
    transition: color 0.25s;
}
</style>
